<main>
  <div (click)="showToastOK()" class="card">
    <h2>Toast OK</h2>
    <p>
      lo unico que tiene que tener para andar es extender de
      <b>TemplateConection</b>
    </p>
  </div>

  <div (click)="showToastWarning()" class="card">
    <h2>Toast Warning</h2>
    <p>Pueden ser de tipo SUCCES, WARNING, INFO y ERROR</p>
  </div>

  <div (click)="showToastLeftUp()" class="card">
    <h2>Toast Arriba a la izquierda</h2>
  </div>
  <div (click)="showToastRigthUP()" class="card">
    <h2>Toast Arriba a la derecha</h2>
  </div>
  <div (click)="showToastLeftBottom()" class="card">
    <h2>Toast abajo a la izquierda</h2>
  </div>

  <div (click)="toastNoTimer()" class="card">
    <h2>Toast sin timer</h2>
  </div>
</main>
